body {
  background: #222;
}
neon-animated-pages {
  overflow: hidden;
}
.box {
        background-color:rgba(255, 255, 255, 0.8);
        border-radius:15px;
        -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
    }